<main class="py-5 frms">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-md-8 py-1">
                <div class="card">
                    <h2 class="m-b-2 card-header ">Registro Proveedor</h2>
                    <form id="form-proveedor" class="py-5 card-body ">
                        <div class="form-group row">
                            <input type="hidden" id="id">
                            <label for="nombre" class="col-lg-2 col-form-label">nombre de la empresa</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="empresa" placeholder="nombre de la empresa"
                                    data-toggle="tooltip" data-placement="top" title="Ingrese el nombre de la empresa">
                            </div>
                            <label for="documentoProveedor" class=" col-lg-2 col-form-label">pais de la empresa
                            </label>
                            <div class="col-lg-4">
                                <select class="form-control" id="id_pais">
                                    <option value="0">paises</option>
                                    {{#each pais}}
                                    <option value="{{ID}}">{{Nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="representante" class=" col-lg-2 col-form-label">represntante </label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="representante"
                                    placeholder="nombre del representante" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el nombre del representante">
                            </div>
                            <label for="direccionProveedor" class="col-lg-2 col-form-label">Dirección </label>
                            <div class="col-lg-4">
                                <input class="form-control" type="text" id="direccion"
                                    placeholder="Dirección de Proveedor " data-toggle="tooltip" data-placement="top"
                                    title="Ingrese la Dirección ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telProveedor" class=" col-lg-2 col-form-label">Teléfono</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="telefono"
                                    placeholder="Teléfono de Proveedor" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Telefono">
                            </div>
                            <label for="correoProveedor" class=" col-lg-2 col-form-label">E-Mail</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="correo" placeholder="Email de Proveedor"
                                    data-toggle="tooltip" data-placement="top" title="Ingrese el Email">
                            </div>
                        </div>
                        <div class="form-group row py-4">
                            <div class="col-lg-6 offset-lg-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-header">Nota</div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <table class="card-body table table-responsive table-striped py-4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>nombre de la empresa</th>
                        <th>direccion</th>
                        <th>pais</th>
                        <th>telefono</th>
                        <th>correo</th>
                        <th>representante</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each proveedor}}
                    <tr task="{{ID}}">
                        <th scope="row">{{ID}}</th>
                        <td>{{empresa}}</td>
                        <td>{{direccion}}</td>
                        <td>{{Nombre}}</td>
                        <td>{{telefono}}</td>
                        <td>{{correo}}</td>
                        <td>{{representante}}</td>
                        <td>
                            <button id="edit-proveedor" class="btn btn-success updateicon fas fa-edit">editar</button>
                            <form action="/proveedor/eliminar/{{ID}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit"
                                    class="btn btn-danger deleteicon fas fa-trash-alt">eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>