<div class="container p-">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="card">
				<label for="">Registrar</label>
				<div class="card-bady">
					<form action="" method="post">
						<div class="form-group">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="usuario" id="">
						</div>
						<div class="form-group">
							<input class="form-control" type="text" name="contrasena" id="">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success btn-block">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h1>Usuarios</h1>
				<table class="table table-responsive table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Usuario</th>
							<th>Contraseña</th>
							<th>Edad</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						<!-- imprimiendo tabla usuario-->
						{{#each usuario}}
						<tr>
							<th scope="row">{{ID}}</th>
							<td>{{nombre}}</td>
							<td>{{usuario}}</td>
							<td>{{contrasena}}</td>
							<td>{{edad}}</td>
							<td></td>
							<td>
								<a href="" class="btn btn-danger">Eliminar</a>
								<a href="" class="btn btn-info">Modificar</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>